# 04-3장 확인문제

In [1]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
char = {}
for i in range(0, len(key_list)):
    char[key_list[i]] = value_list[i]
print(char)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [2]:
limit = 10000
i = 1

sum_value = 0
while sum_value < limit:
    sum_value += i
    i += 1
print("{}를 더할 때 {} 넘으며 그때의 값은 {}입니다.".format(i, limit, sum_value ) )

142를 더할 때 10000 넘으며 그때의 값은 10011입니다.

In [3]:
max_value = 0
a = 0
b = 0
for i in range(1, 100 // 2+1):
    j = 100 - i    
    current = i * j
    if max_value < current:
        a = i
        b = j
        max_value = current
print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500

In [5]:
numbers = [103, 52, 273, 32, 77]

min(numbers)

32

In [6]:
max(numbers)

273

In [7]:
sum(numbers)

537

In [8]:
list_a = [1, 2, 3, 4, 5]
list_reversed = reversed(list_a)
print("# reversed()함수")
print("reversed([1, 2, 3, 4, 5]:)", list_reversed)
print("list_reversed([1, 2, 3, 4, 5]):", list(list_reversed))
print()
print("# reversed() 함수와 반복문")
print("for i in reversed([1, 2, 3, 4, 5]):")
for i in reversed(list_a):
    print("-", i)

# reversed()함수
reversed([1, 2, 3, 4, 5]:) <list_reverseiterator object at 0x00000202CE493280>
list_reversed([1, 2, 3, 4, 5]): [5, 4, 3, 2, 1]

# reversed() 함수와 반복문
for i in reversed([1, 2, 3, 4, 5]):
- 5
- 4
- 3
- 2
- 1

In [9]:
array = ["자두" ,"바나나", "홍시", "수박" ,"초콜릿"]
output = [fruit for fruit in array if fruit != "초콜릿"]

In [10]:
print(output)

['자두', '바나나', '홍시', '수박']

In [12]:
number = int(input("정수 입력 >"))
if number % 2 == 0:
    print("""\
        입력한 문자열은 {}입니다.
        {}은 짝수입니다.""".format(number, number))
else:
    print("""\
        입력한 문자열은 {}입니다.
        {}은 홀수입니다.""".format(number, number))

정수 입력 >10
        입력한 문자열은 10입니다.
        10은 짝수입니다.

In [13]:
number = int(input("정수 입력 >"))
if number % 2 == 0:
    print("입력한 문자열은 {}입니다.\t{}은 짝수입니다.".format(number, number))
else:
    print("입력한 문자열은 {}입니다.\t{}은 홀수입니다.".format(number, number))

정수 입력 >56
입력한 문자열은 56입니다.	56은 짝수입니다.

In [14]:
test = (
    "이렇게 입력해도"
    "하나의 문자열로 연결되어"
    "생성됩니다."
)

print("test:", test)
print("type(test):", type(test))

test: 이렇게 입력해도하나의 문자열로 연결되어생성됩니다.
type(test): <class 'str'>

In [15]:
number = int(input("정수 입력 >"))
if number % 2 == 0:
    print((
        "입력한 문자열은 {}입니다.\n"
        "{}은 짝수입니다."
    ).format(number, number))
else:
    print((
        "입력한 문자열은 {}입니다."
        "{}은 홀수입니다."
    ).format(number, number))

정수 입력 >56
입력한 문자열은 56입니다.
56은 짝수입니다.

In [16]:
print("::".join(["1", "2", "3", "4", "5"]))

1::2::3::4::5

In [17]:
number = int(input("정수 입력 >"))
if number % 2 == 0:
    print("\n".join([
        "입력한 문자열은 {}입니다.",
        "{}은 짝수입니다."
    ]).format(number, number))
else:
    print("\n".join([
        "입력한 문자열은 {}입니다.",
        "{}은 홀수입니다."
    ]).format(number, number))

정수 입력 >56
입력한 문자열은 56입니다.
56은 짝수입니다.

In [18]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = reversed(numbers)
print("reversed_numbers:", r_num)
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

reversed_numbers: <list_reverseiterator object at 0x00000202CE493880>
6
5
4
3
2

# 04-4장 확인문제

In [19]:
"{:b}".format(10)

'1010'

In [20]:
int("1010",2)

10

In [21]:
output = [i for i in range(1, 101)
    if "{:b}".format(i).count("0") == 1]
for i in output:
    print("{} : {}".format(i, "{:b}".format(i)))
print("합계:", sum(output))

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계: 539

In [22]:
"안녕안녕사에요".count("안")

2

In [23]:
"{:0}".format(10)

'10'

In [24]:
int("12",8)

10

In [25]:
"{:x}".format(10)

'a'

In [26]:
int("10",16)

16

In [27]:
def print_n_times(value, n):
    for i in range(n):
        print(value)
print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [29]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_n_times(3,"안녕하세요", "즐거운", "파이썬 프로그래밍")

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [30]:
def print_n_times(value, n=2):
    for i in range(n):
        print(value)
print_n_times("안녕하")

안녕하
안녕하

In [31]:
def print_n_times(n=2, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_n_times("안녕하세요", "즐거운", "파이썬 프로그램")

TypeError: 'str' object cannot be interpreted as an integer

In [32]:
def print_n_times(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_n_times("안녕하세요", "즐거운", "파이썬프로그래밍", 3)

안녕하세요
즐거운
파이썬프로그래밍
3

안녕하세요
즐거운
파이썬프로그래밍
3

In [34]:
def print_n_times(*values, n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()
print_n_times("안녕하세요", "즐거운", "파이썬프로그래밍",n = 3)

안녕하세요
즐거운
파이썬프로그래밍

안녕하세요
즐거운
파이썬프로그래밍

안녕하세요
즐거운
파이썬프로그래밍

In [35]:
def test(a, b=20, c=100):
    print(a + b + c)
test(10, 20, 30)
test(a=10, b=200, c=100)
test(c=10, a=100, b=200)
test(10, c=200)

60
310
310
230

In [36]:
value = input(">")
print(value)

>150
150

In [38]:
def return_test():
    print("A 위치입니다")
    return
    print("B 위치입니다")
return_test()

A 위치입니다

In [39]:
def return_test():
    return 100
value = return_test()
print(value)

100

In [40]:
def return_test():
    return 
value = return_test()
print(value)

None

In [41]:
def sum_all(start, end):
    output = 0
    for i in range(start, end + 1):
        output += i
    return output
print("0 to 100:", sum_all(0, 100))
print("0 to 1000:", sum_all(0, 1000))
print("50 to 100:", sum_all(50, 100))
print("500 to 1000:", sum_all(500, 1000))

0 to 100: 5050
0 to 1000: 500500
50 to 100: 3825
500 to 1000: 375750

In [42]:
def sum_all(start=0, end=100, step=1):
    output = 0
    for i in range(start, end + 1, step):
        output += i
    return output
print("A.", sum_all(0, 100, 10))
print("B.", sum_all(end=100))
print("C.", sum_all(end=100, step=2))

A. 550
B. 5050
C. 2550

# 05-1 확인문제

In [43]:
def f(x):
    return 2*x + 1
print(f(10))

21

In [44]:
def f(x):
    return x ** 2 + x * 2 + 1
print(f(10))

121

In [45]:
def mul(*values):
    output = 1
    for value in values:
        output *= value
    return output
print(mul(5, 7 ,9, 10))

3150